.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    border: 1px solid lightgray;
    margin-top: 5px;
    margin-left: 5px;
  }

  .description {
    text-align: left;
    width: 50%;
    
  }

  